
body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* #region Debug */
/* .debug main *{
    height: 500px;
    width: 100%; */


/* .debug #logo,#site_header nav,#login{
    background-color: #daa520;
    padding: 4px 0px;
} */

/* .debug .jumbotron{
    background-color: #00008bFF;
} */

/* .debug #section2, .main_footer{
    background-color: #d3d3d3FF;
} */


/* .debug header{
    background-color: #add8e6;
    height: 50px;
} */


/* .debug div.picture_box{
    background-color: #1e90ffFF;
    border: 1px dashed black;
} */

/* .debug aside.text_box{
    background-color: #ffc0cbFF;
    border: 1px dashed black;
} */

.debug div.main_footer{
    height: 500px;
}

.debug footer{
    background-color: #23272aFF;
    height: 300px;
}

.debug div#footer_links{
    background-color: #f08080FF;
    height: 100%;
    width: 25%;
    border: 1px dashed white;
}

.debug aside.main_footer{
    height: 90%;
    width: 75%;
    background-color: #228b22FF;
    border: 1px dashed black;
}

.debug nav.footer_nav{
    background-color: #20b2aaFF;
    height: 100%;
    border: 1px dashed black;
}

.debug div.footer_closure{
    background-color: #23272aFF;
    border-top: 1px dashed white;
    height: 60px;
}

.debug aside.footer_closure{
    background-color: #7fffd4FF;
    width: 75%;
    height: 80%;
}

.debug aside.footer_closure>div{
    background-color: #f08080FF;
    border: 1px dashed black;
    align-self: center;
}
/* #endregion Debug */

/* #region Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3161e0FF;
    padding: 1rem 5rem 0.5rem 5rem;
}

#logo{
    align-self: flex-end;
}

button.login{
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
}

#call_to_action a{
    text-decoration: none;
    color: #ffffff;
}

nav#call_to_action{
    width: 35%;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}
/* #endregion Header */

/* #region Main */
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 500
}

/* #region Jumbotron */

.jumbotron>aside{
    padding-top: 2rem;
    width: 45%; 
    height: 70%;
    background: none;
    flex-direction: column;
    text-align: center;
    font-size: 0.85rem;
    line-height: 1.25rem;
    color: #ffffff;
}

.jumbotron{
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-repeat: round;
    padding-bottom: 5%;
}

.jumbotron h1{
    font-size: 2.3rem;
    margin-bottom: 1.25rem ;
    padding-top: 1.5rem;
}

.jumbo_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jumbotron button{
    height: 2rem;
    margin: 0rem 1rem;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 0.75rem;
    max-width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
}

button#mac_download{
    background-color: #fff;
}

button#browser_launch{
    background-color: #23272aFF;
    color: #fff;
}
/* #endregion Jumbotron */


section{
    display: flex;
    justify-content: center;
    padding: 4rem 4rem 6rem 4rem;
}

#section1{
    justify-content: space-evenly;
}

.picture_box{
    height: 80%;
    width: 45%;
    align-self: center;
}

.picture_box img{
    width: 100%;
}

.text_box{
    height: 80%;
    width: 20%;
    align-self: center;
    font-size: 0.85rem;
}

.text_box h1{
    font-size: 2rem;
}

.waves img{
    width: 100%;
    height: 100%;
}

#section2{
    justify-content: space-evenly;
    background-color: #f6f6f6;
    border-collapse: collapse;
}

#section2 .text_box{
    width: 25%;
}

#section3{
    
}
div.main_footer{
    display: flex;
    justify-content: center;
}

aside.main_footer{
    align-self: center;
}
/*  #endregion Main */

/* #region Footer */
footer{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

div#footer_box{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 75%;
    height: 90%;
}

nav.footer_nav{
    flex-grow: 1;
}
/* #endregion Footer */

/* #region Footer closure */
div.footer_closure{
    display: flex;
    justify-content: center;
}

aside.footer_closure{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
/* #endregion Footer closure */