
body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* #region Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3161e0FF;
    padding: 1rem 5rem 0.5rem 5rem;
}

.logo{
    align-self: flex-end;
}

.logo img{
    width: 8rem
}

button.login{
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
}

#call_to_action a{
    text-decoration: none;
    color: #ffffff;
}

nav#call_to_action{
    width: 35%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}
/* #endregion Header */

/* #region Main */
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 500
}

/* #region Jumbotron */

.jumbotron>aside{
    padding-top: 2rem;
    width: 45%; 
    background: none;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #ffffff;
}

div.jumbotron{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: top;
    padding-bottom: 10%;
}

.jumbotron h1{
    font-size: 4.5rem;
    margin-bottom: 4rem ;
    padding-top: 1.5rem;
}

.jumbo_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jumbotron button{
    height: fit-content;
    margin: 0rem 1rem;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    max-width: fit-content;
    padding: 1.0rem 1.5rem;
    margin-top: 0.5rem;
}

button#mac_download{
    background-color: #fff;
}

button#browser_launch{
    background-color: #23272aFF;
    color: #fff;
}
/* #endregion Jumbotron */


section{
    display: flex;
    justify-content: center;
    padding: 4rem 4rem 6rem 4rem;
    flex-grow: 1;
}

#section1{
    justify-content: space-evenly;
}

.picture_box{
    height: 80%;
    width: 45%;
    align-self: center;
}

.picture_box img{
    width: 100%;
}

.text_box{
    height: 80%;
    width: 20%;
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.text_box h1{
    font-size: 3.5rem;
    line-height: normal;
}

div.waves{
    width: 100%;
}

.waves img{
    width: 100%;
    height: 100%;
}

#section2{
    justify-content: space-evenly;
    background-color: #f6f6f6;
}

#section2 .text_box{
    width: 25%;
}


#section3{
    background-image: url(../img/Untitled.svg);
    background-size: cover;
    justify-content: space-evenly;
}

#section3 *{
    margin-top: 4rem;
}

div.main_footer{
    font-size: 1.5rem;
    background-color: #f6f6f6;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 6rem;
}


.main_footer h1{
    font-size: 3.75rem;
}

aside.main_footer{
    width: 65%;
    /* align-self: center; */
}

.main_footer img{
    width: 70%;
}

div.mac_download_input{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem 2rem 1rem 2rem;
    font-size: 1.75rem;
    align-self: center;
}

button.mac_download_input{
    height: 2rem;
    margin: 0rem 1rem;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 1.75rem;
    max-width: fit-content;
    padding: 1rem 2.25rem 3rem 2.25rem;
    background-color: #8ea1e1;
    align-self: center;
    color: #fff;
    margin-bottom: 3rem;
}

/*  #endregion Main */

/* #region Footer */
footer{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    background-color: #23272a;
}

div#footer_box{
    display: flex;
    align-self: center;
    width: 75%;
    height: 90%;
}

div#footer_link{
    padding-right: 6rem;
}

#footer_links aside{
    width: 90%;
    color:#7289da;
}

#footer_links h2{
    font-size: 2rem;
}

aside#language{
    color: #fff;
    font-size: 0.8rem;
}

#language img{
    height: 1rem;
}

div.social{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 1.5rem;
}

#footer_box{
    margin-top: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #7289da;
}

#footer_box nav a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    line-height: 2rem;
}

.footer_nav div{
    color:#7289da;
    font-size: 1.25rem;
    font-weight: 600;    
    line-height: 2rem;
    padding-top: 1rem;
}

nav.footer_nav{
    flex-grow: 1;
}
/* #endregion Footer */

/* #region Footer closure */
div.footer_closure{
    display: flex;
    justify-content: center;
    background-color: #23272a;
    padding-top: 1rem;
    padding-bottom: 4rem;    
}

button.sign-up{
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: #8ea1e1;
    color: #fff;
}

aside.footer_closure{
    display: flex;
    align-self: flex-end;
    width: 75%;
    justify-content: space-between;
}
/* #endregion Footer closure */